@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

/*--Start Carousel Container--*/
#myCarousel {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px; /*can be 100%*/
}

#myCarousel img {
	width: 100%;
}

#myCarousel a:link, #myCarousel a:visited{
	color: black;
	text-decoration: none;
	border: none;
}

.ui-loader {
	display: none;
}

/*--Carousel Arrows--*/
.carousel-control {
	width: 3%;
	text-shadow: none;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	z-index: 11;
}

.fa-angle-left, .fa-angle-right {
	font-size: 3em;
	position: absolute;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

/*--Carousel Dots--*/
.carousel-indicators {
	bottom: 0px;
}

.carousel-indicators .active, .carousel-indicators li:hover {
	background-color: black;
	opacity: 1;
	border: none;
	width: 10px;
	height: 10px;
	margin: auto 5px;
}

.carousel-indicators li {
	background-color: black;
	opacity: .5;
	border: none;
	width: 10px;
	height: 10px;
	margin: auto 5px;
}

/*--Carousel Caption--*/
.carousel-caption {
	text-shadow: none;
	font-size: 12px;
  	letter-spacing: 1px;
  	padding: 30px;
  	text-align: left;
  	color: #6D797F;
  	width: 100%;
  	background-color: rgba(255,255,255,0.8);
  	left: 0;
  	top: 0;
  	bottom: 0;
}

.carousel-caption h3 {
	font-weight: bold;
	margin-top: 0;
}

/*--You can remove everything after this comment--*/
body {
	font-family: 'Open Sans', sans-serif;
    background: #fff;
    text-align: center;
    color: #6D797F;
    font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

img {
	border: none;
}

h1 {
	font-size: 4em;
	font-weight: 600;
	letter-spacing: -0.025em;
	color: #d64e4e;
	margin-top: 0;
}

p {
	font-size: 1em;
	font-weight:600;
	margin-top: 0;
	line-height: 1.5;
}

.small {
	padding: 0 20px;
}

a:link, a:visited {
	text-decoration: none;
	color: #d64e4e;
	transition: all .3s ease;
}

a:hover {
	text-decoration: none;
	color: black;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: #d64e4e;
	border: 0;
	color: white;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a.btn:link, a.btn:visited, a.btn:hover{
	color: white;
	text-decoration: none;
	border: none;
}

.btn:hover {
	background: #c63939;
}

#header {
	padding: 60px 20px 80px;
}

#header p {
	margin-bottom: 20px;
}

#footer {
	font-size: 14px;
	padding-top: 60px;
	padding-bottom: 20px;
}

/*--Media Query--*/
@media (max-width: 757px) {
	#header {
		padding: 20px 20px 40px;
	}
	
	.fa-angle-left, .fa-angle-right {
		display: none;
	}
	
	.carousel-caption {
		font-size: 10px;
	}
}

@media (max-width: 374px) {
	h1 {
		font-size: 3em;
	}
	.carousel-caption h3 {
		font-size: 1.2em;
		margin-bottom: 5px;
	}
	.carousel-caption {
		padding-top: 10px;
	}
}
